*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
  background-color: #f2f2f2; }

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-rows: 10rem 45vh 45vh 50rem;
  transition: all .8s ease-in-out; }

.gallery {
  opacity: 0;
  animation: appear .7s 2s forwards ease-in;
  grid-column: full-start / full-end;
  grid-row: 2 / -1;
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(42vw, 50rem));
  grid-template-rows: repeat(auto-fit, minmax(48rem, 50rem));
  justify-content: center;
  align-items: center; }
  @media (max-width: 1050px) {
    .gallery {
      grid-gap: 5.5rem; } }

.nav {
  background-color: #f2f2f2;
  height: 10vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr max-content 20% max-content 1fr;
  z-index: 10;
  align-content: center;
  transition: all .2s ease-in-out; }
  @media (max-width: 840px) {
    .nav {
      grid-template-columns: 1fr max-content 10% max-content 1fr; } }
  .nav__btn {
    outline: none;
    filter: opacity(1);
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 0;
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    background-color: transparent;
    padding-bottom: 3px;
    transition: all .2s .1s ease-in-out;
    width: 15rem; }
    .nav__btn:focus {
      border: none;
      border-radius: 0;
      text-decoration: none; }
    .nav__btn:hover {
      transform: translateY(2px); }
    .nav__btn--container {
      display: none; }
    .nav__btn--l {
      grid-column: 2 / 3; }
    .nav__btn--r {
      grid-column: 4 / 5; }
    .nav__btn--link {
      pointer-events: none;
      opacity: 0;
      text-align: start;
      padding: 3rem 0;
      transition: all .3s 1.55s ease-in-out, color .15s .1s ease-in-out;
      transform: translateY(-6vh); }
    .nav__btn--git {
      pointer-events: none;
      opacity: 0;
      padding: 3rem 0;
      text-align: start;
      transition: all .35s 1.2s ease-in-out, color .15s .1s ease-in-out;
      transform: translateY(-16vh); }
    .nav__btn--mail {
      pointer-events: none;
      opacity: 0;
      padding: 3rem 0;
      text-align: start;
      letter-spacing: .2rem;
      transition: all .4s .8s ease-in-out, color .15s .1s ease-in-out;
      transform: translateY(-26vh); }
    .nav__btn--link:hover, .nav__btn--git:hover, .nav__btn--mail:hover {
      color: #00d9e1; }

#name {
  border-bottom: #000 solid 1px; }

#cont_btn {
  margin-bottom: 5rem; }

#btn_box {
  height: 30vh;
  display: none;
  text-align: center;
  align-content: unset; }

@media only screen and (max-width: 600px) {
  .nav__btn {
    font-size: 1.6rem; } }

.project {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70% 1% min-content min-content 2% max-content;
  grid-template-columns: 10% 1fr 10%;
  justify-content: center;
  justify-items: center;
  position: relative;
  overflow: hidden; }
  .project__img {
    border-radius: 5px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    width: 84%;
    object-fit: cover;
    display: block;
    transition: all .8s .1s ease-in;
    overflow: hidden; }
  .project__heading--3 {
    font-family: 'Karla', sans-serif;
    display: block;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .9px; }
    @media (max-width: 800px) {
      .project__heading--3 {
        font-size: 1.5rem; } }
  .project__text {
    font-family: 'Roboto', sans-serif;
    text-align: start;
    display: block;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .9px; }
    @media (max-width: 800px) {
      .project__text {
        font-size: 1rem; } }
  .project__btn {
    text-decoration: none;
    border: none; }
  .project__btn-wrap {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transform: translateX(45px); }
  .project__svg {
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    padding: 0 .4rem;
    transition: all .1s ease-in-out; }
  .project__svg:hover {
    fill: #00d9e1; }

.contact {
  display: none; }

.contact__checkbox {
  display: none; }

.contact__button {
  background-color: #f2f2f2;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.contact__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#f2f2f2, #fff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.contact__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.contact__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.contact__item {
  margin: 1rem; }

.contact__link:link, .contact__link:visited {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 4.5rem 8rem;
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white);
  background-size: 220%;
  transition: all .4s; }
  .contact__link:link span, .contact__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
  @media (max-width: 800px) {
    .contact__link:link, .contact__link:visited {
      padding: 3.5rem 8rem;
      font-size: 2.8rem; } }

.contact__link:hover, .contact__link:active {
  background-position: 100%;
  color: #00d9e1;
  transform: translateX(1rem); }

.contact__checkbox:checked ~ .contact__background {
  transform: scale(80); }

.contact__checkbox:checked ~ .contact__nav {
  opacity: 1;
  z-index: 1500;
  width: 100%; }

.contact__icon {
  position: relative;
  margin-top: 3rem;
  transition: all .2s; }
  .contact__icon, .contact__icon::before, .contact__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .contact__icon::before, .contact__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .contact__icon::before {
    top: -.8rem; }
  .contact__icon::after {
    top: .8rem; }

.contact__button:hover .contact__icon::before {
  top: -1rem; }

.contact__button:hover .contact__icon::after {
  top: 1rem; }

.contact__checkbox:checked + .contact__button .contact__icon {
  background-color: transparent; }

.contact__checkbox:checked + .contact__button .contact__icon::before {
  top: 0;
  transform: rotate(135deg); }

.contact__checkbox:checked + .contact__button .contact__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.logo {
  font-family: 'Playfair Display', serif;
  transition: all 1.5s;
  opacity: 0;
  z-index: 1;
  position: fixed;
  top: 2.2rem;
  left: 2.2rem;
  font-size: 2.5rem; }
  @media (max-width: 800px) {
    .logo {
      font-size: 2rem; } }

.loader--col {
  animation: pulsating 1s infinite ease; }

.loader {
  font-family: 'Playfair Display', serif;
  font-size: 7rem;
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  line-height: 10rem;
  animation: opening 2s ease-in-out forwards;
  z-index: 1000; }
  @media (max-width: 500px) {
    .loader {
      font-size: 5rem; } }

.loader--col {
  display: inline;
  color: #00d9e1; }

@keyframes opening {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  75% {
    opacity: 1; }
  85% {
    opacity: .5; }
  100% {
    opacity: 0; } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pulsating {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.up__btn {
  position: fixed;
  bottom: 1rem;
  right: 0rem;
  padding: 3rem;
  font-size: 7rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
  border: none;
  background-color: inherit;
  transform: rotate(-90deg);
  border-radius: 50%;
  font-weight: 100;
  transition: all .5s ease-in-out;
  display: none;
  outline: none; }
