.nav {
	background-color: #f2f2f2;
	height: 10vh;
	padding-top: 100px;
	padding-bottom: 100px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	display: grid;
	grid-template-columns: 1fr max-content 20% max-content 1fr;
	z-index: 10;
	align-content: center;
	transition: all .2s ease-in-out;

	@media (max-width: 840px) {
		grid-template-columns: 1fr max-content 10% max-content 1fr;
	}

	&__btn {
		outline: none;
		filter: opacity(1);
		text-decoration: none;
		color: #000;
		border: none;
		border-radius: 0;
		display: block;
		cursor: pointer;
		font-size: 1.8rem;
		letter-spacing: .3rem;
		background-color: transparent;
		padding-bottom: 3px;
		transition: all .2s .1s ease-in-out;
		width: 15rem;

		&:focus {
			border: none;
			border-radius: 0;
			text-decoration: none;
		}

		&:hover {
			transform: translateY(2px);
		}

		&--container {
			display: none;
		}

		&--l {
			grid-column: 2 / 3;
		}
		&--r {
			grid-column: 4 / 5;
		}

		&--link {
			pointer-events: none;
			opacity: 0;
			text-align: start;
			padding: 3rem 0;
			transition: all .3s 1.55s ease-in-out, color .15s .1s ease-in-out;
			transform: translateY(-6vh);
		}

		&--git {
			pointer-events: none;
			opacity: 0;
			padding: 3rem 0;
			text-align: start;
			transition: all .35s 1.2s ease-in-out, color .15s .1s ease-in-out;
			transform: translateY(-16vh);
		}

		&--mail {
			pointer-events: none;
			opacity: 0;
			padding: 3rem 0;
			text-align: start;
			letter-spacing: .2rem;
			transition: all .4s .8s ease-in-out, color .15s .1s ease-in-out;
			transform: translateY(-26vh);
		}

		&--link:hover,
		&--git:hover,
		&--mail:hover {
			// color: #fa7268;
			color: #00d9e1;
		}
	}
}

#name {
	border-bottom: #000 solid 1px;
}

#cont_btn {
	margin-bottom: 5rem;
}

#btn_box {
	height: 30vh;
	display: none;

	text-align: center;
	align-content: unset;
}

@media only screen and (max-width: 600px) {
	.nav__btn {
		font-size: 1.6rem;
	}
}
