.project {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 70% 1% min-content min-content 2% max-content;
	grid-template-columns: 10% 1fr 10%;
	justify-content: center;
	justify-items: center;
	position: relative;
	overflow: hidden;

	&__img {
		border-radius: 5px;
		grid-row: 1 / 2;
		grid-column: 1 / 4;
		width: 84%;
		object-fit: cover;
		display: block;
		transition: all .8s .1s ease-in;
		overflow: hidden;
	}

	&__img:hover {
	}

	&__heading--3 {
		font-family: 'Karla', sans-serif;
		display: block;
		grid-row: 4 / 5;
		grid-column: 2 / 3;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: .9px;

		// text-transform: uppercase;
		@media (max-width: 800px) {
			font-size: 1.5rem;
		}
	}

	&__text {
		font-family: 'Roboto', sans-serif;
		text-align: start;
		display: block;
		grid-row: 6 / 7;
		grid-column: 2 / 3;
		font-size: 1.25rem;
		font-weight: 300;
		letter-spacing: .9px;
		@media (max-width: 800px) {
			font-size: 1rem;
		}
	}
	&__btn {
		text-decoration: none;
		border: none;
	}
	&__btn-wrap {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		transform: translateX(45px);
	}
	&__svg {
		display: inline-block;
		height: 2.8rem;
		width: 2.8rem;
		padding: 0 .4rem;
		transition: all .1s ease-in-out;
	}
	&__svg:hover {
		fill: #00d9e1;
	}
}

// .bg-video {
// 	position: absolute;
// 	overflow: hidden;
// 	top: 0;
// 	left: 0;
// 	height: 70%;
// 	width: 100%;

// 	&__content {
// 		transition: filter .7s ease-in-out, opacity .7s ease-in-out;
// 		height: 100%;
// 		width: 100%;
// 		object-fit: fill;
// 	}
// 	&__content:hover {
// 		filter: grayscale(0);
// 		opacity: 1;
// 	}
// }
